/work/kibana/data/
/work/mysql/data/
/work/mysql/logs/
/work/redis/data/
/es/es/data/
/es/es/plugins/
/work/kafka-map/data/
/consul-cluster/data/
/ui/kafka-map/data/
/es/kibana/data/
/elk/kibana/data/
/elk/es/data/
/elk/es/plugins/
/elk/logstash/logs/
